<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <meta name="description" content="My portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{cdn '/static/favicon.ico'}}" />
    <link rel="stylesheet" href="{{cdn '/main.css'}}" />
  </head>
  <body>
    <header>
      <h1>
        <a href="/">Dan Gimnicher</a>
      </h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <p>
        <a target="_blank" href="{{cdn '/static/downloads/resume.pdf'}}">
          <i title="Dan's Resume" class="fa fa-lg fa-file-pdf-o"></i>
        </a>
        <a href="mailto:dangimnicher@gmail.com">
          <i title="Email Dan" class="fa fa-lg fa-envelope-o"></i>
        </a>
        <a href="//github.com/danjamin/portfolio">
          <i title="Dan on Github" class="fa fa-lg fa-github"></i>
        </a>
        <a href="//www.linkedin.com/in/dangimnicher">
          <i title="Dan on Linked in" class="fa fa-lg fa-linkedin-square"></i>
        </a>
      </p>
      <p class="trademark">
        All brand icons are trademarks of their respective owners.
      </p>
    </footer>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {{!-- Push scripts to the bottom bro! --}}
    <script src="{{cdn '/vendor.js'}}"></script>
    {{#each scripts}}
    <script src="{{cdn this}}"></script>
    {{/each}}
  </body>
</html>
